.modalHeader {
  justify-content: flex-end;
  gap: 18px;
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}



.loadingContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;

  .loader {
    display: flex;
    height: 8rem;
  }
}
