@use 'src/sass/theme' as *;

.modalHeader {
  justify-content: flex-end;
  gap: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 420px;

  @media screen and (max-width: $medium) {
    width: 320px
  }
}
