.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100% + 7rem);
  margin-left: -7rem;
}

.board-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.squares {
  height: 7rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-square {
  height: auto;
  width: 7rem;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.vertical {
  align-self: center;
}

.guess-square {
  background-color: wheat;
}

.text-square>p {
  text-align: center;
  font-weight: 500;
}
