.card {
  height: 50%;
  width: 500px;

  .table {
    width: 100%;
    border-collapse: collapse;

    .tableHeadRow {
      border-bottom: 2px solid black;

      .tableHead {
        text-align: start;
        padding-bottom: 1rem;

        &:nth-child(2) {
          text-align: center;
        }
      }
    }

    .tableData {
      text-align: start;
      padding: 0.5rem 0;

      .usernameCol {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &:nth-child(2) {
        text-align: center;
      }
    }
  }
}
