@use 'src/sass/theme' as *;

.h1Heading {
  font-weight: 400;
  letter-spacing: .2rem;
  font-size: 2.4rem;
}

.h2Heading {
  font-weight: 400;
  font-size: 2rem;
  line-height: normal;
}

.h3Heading {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: normal;
}

.nowrap {
  text-wrap: nowrap;
}

.bold {
  font-weight: 500;
}
