.container {
  display: flex;
  justify-content: center;
  gap: 18px;
  font-weight: 500;

  .buttonIcon {
    margin-right: 0.5rem;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem 0rem 0rem;
  }
}
