@use 'src/sass/theme' as *;

.card {
  padding: 1rem 1.5rem;
  background-color: $background-blue;
  border-radius: 28px;
  box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
  border: 2px solid black;

  @media screen and (max-width: $medium) {
    box-shadow: 8px 8px rgba(0, 0, 0, 0.5)
  }
}
