// Colors
$background-blue: #b0ddff;
$background-green: #C4FFBF;
$background-red: #ff9494;
$background-pink: #FFDADA;
$error: #e85656;

// Breakpoints
$small: 300px;
$medium: 500px;
$large: 800px;
$x-large: 1050px;

// Misc
$border-radius: 28px;
