// Colors
$background-blue: #b0ddff;
$background-green: #C4FFBF;
$background-red: #ff9494;
$background-pink: #FFDADA;
$error: #e85656;

$icon-red: #e33232;
$icon-orange: #e37c32;
$icon-yellow: #e3da32;
$icon-blue: #324de3;
$icon-grey: #929493;
$icon-pink: #ce32e3;
$icon-white: white;
$icon-green: #32e379;
$icon-black: black;



// Breakpoints
$small: 300px;
$medium: 500px;
$large: 800px;
$x-large: 1050px;

// Misc
$border-radius: 28px;
