@use 'src/sass/theme' as *;

.header {
  width: 100%;
}

.playerCards {
  min-height: 100px;
  width: auto;
  margin-top: 2rem;
  max-width: 300px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  // @media screen and (max-width: $medium) {
  //   flex-direction: column;
  // }

  // @media screen and (min-width: $medium) {
  //   flex-direction: row;
  // }


}
