@use 'src/sass/theme' as *;

.header {
  width: 100%;
}

.playerCards {
  min-height: 100px;
  width: auto;
  margin-top: 2rem;
  max-width: 300px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .buttonContainer {
    display: flex;
    justify-content: center;
  }
}
