@use 'src/sass/theme' as *;

.header {
  width: 100%;
}

.playerCards {
  min-height: 100px;
  width: auto;
  max-width: 300px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .gameboardContainer {
      display: flex;
      margin-top: 1rem;
    }

    .notificationText {
      font-size: 1.5rem;
      line-height: normal;
    }
  }
}
