@use 'src/sass/theme' as *;

.subheading {
  padding: 0rem 1rem;
}

.cardContainer {
  display: flex;
  gap: 100px;
  justify-content: space-between;

  padding: 1rem;

  @media screen and (max-width: $x-large) {
    gap: 60px;
  }

  @media screen and (min-width: $large) {
    align-items: center;
    flex: 1;
  }


  @media screen and (max-width: $large) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  .cards {
    flex: 1;
    display: flex;
    flex-direction: column;

    h2 {
      padding-bottom: 1rem;
    }

    .cardContentContainer {
      display: flex;

      .cardRightColumn {
        flex: 1;
        display: flex;
        font-size: 1.3rem;
        flex-direction: column;
        justify-content: space-between;

        p {
          padding-bottom: 1rem;
          line-height: normal;
        }


      }
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
