@use 'src/sass/theme' as *;

.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  .nav {
    display: flex;
    gap: 1.5rem;

    @media screen and (max-width: $medium) {
      gap: 0.5rem;
    }
  }

  .header {
    padding: 0.25rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px black solid;
    min-height: 70px;

    .buttonIcons {
      margin-right: 0.4rem;
    }

    @media screen and (max-width: $large) {
      padding: 0.25rem 8rem 0.25rem 2rem;
    }

    @media screen and (max-width: $medium) {
      padding: 0.25rem 7rem 0.25rem 1rem;
    }

    background-color: #E1E2C1;

    .avatarWrapper {
      position: relative;
      width: 6rem;
      height: 4.5rem;

      @media screen and (max-width: $large) {
        width: 18%;
      }

      .avatarContainer {
        display: flex;
        padding: 0.3rem;
        border-radius: 1.8rem;
        border: 2px solid black;
        cursor: pointer;
        position: absolute;
        flex-direction: column;
        background-color: $background-pink;

        .innerContainer {
          display: flex;
          align-items: center;
        }

        .icon {
          padding: 0rem 0.5rem;
          transition: transform 0.3s;
        }

        .menuItems {
          max-height: 0px;
          transition: max-height 0.4s;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          width: min-content;
          padding-bottom: 0.25rem;
        }

        &:hover {
          .icon {
            transform: rotate(180deg);
          }

          .menuItems {
            max-height: 50px;
          }
        }
      }
    }
  }

  .main {
    padding: 0rem 6rem;

    @media screen and (max-width: $x-large) {
      padding: 0rem 3rem;
    }


    @media screen and (max-width: 614px) {
      padding: 0rem;
    }

    justify-content: center;
    display: flex;
    flex: 1;
    background-image: url('/background.png');
    background-size: cover;


    @media screen and (orientation:portrait) {
      background-size: contain;
    }
  }
}
