@use 'src/sass/theme' as *;

.container {
  padding: 0rem 6rem;

  display: flex;
  flex: 1;
  flex-direction: column;

  @media screen and (max-width: 614px) {
    padding: 0rem;
  }

  .header {
    width: 100%;
  }

  .main {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
}
