@use 'src/sass/theme' as *;

.container {
  padding: 0rem 6rem;
  display: flex;
  flex: 1;
  flex-direction: column;


  @media screen and (max-width: $x-large) {
    padding: 0rem 3rem;
  }


  @media screen and (max-width: 614px) {
    padding: 0rem;
  }

  .header {
    padding-left: 1rem;
  }

  .main {
    justify-content: center;
    display: flex;
    flex: 1
  }
}
