@use 'src/sass/theme' as *;

.notification {
  background-color: red;
  padding: 0.5rem;
  border-radius: $border-radius;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  transition: border 0.5s;
  border: 2px solid black;
  width: fit-content;
}

.active {
  border: 4px solid black;
}
