@use 'src/sass/theme' as *;

.card {
  height: auto;
  width: 35vw;
  align-self: center;

  @media screen and (max-width: $x-large) {
    width: 45vw;
  }

  @media screen and (max-width: $large) {
    width: 50vw;
  }

  @media screen and (max-width: $medium) {
    width: 70vw;
  }

  .cardContainer {
    gap: 1rem;

    .flagAvatar {
      margin-right: 0.25rem;
    }
  }
}
