@use 'src/sass/theme' as *;

.button {
  border-radius: 28px;
  background-color: #F7F7F9;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  height: 7rem;
  width: 7rem;
  padding: 0.25rem;

  .flag {
    margin-top: 0.25rem;
    height: 2rem;
    border-radius: 5px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  }


  .text {
    font-weight: 500;
  }
}

.flagSelected {
  // background-color: $background-green;
  cursor: default;
}

.flagFalse {
  background-color: $background-red;

}

.playerOne {
  border: 6px solid #94D3FF;
}

.playerTwo {
  border: 6px solid #CA94FF;
}
