@use 'src/sass/theme' as *;

.button {
  border-radius: 28px;
  background-color: #F7F7F9;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  padding: 0.25rem;
  height: 5rem;
  width: 5rem;

  @media screen and (max-width: $medium) {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 18px;
  }

  @media screen and (min-width: $large) {
    width: 7rem;
    height: 7rem;
    border-radius: 28px;
  }

  .flag {
    margin-top: 0.25rem;
    height: 2rem;
    border-radius: 5px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  }

  .text {
    font-weight: 500;
  }

  &:disabled {
    color: black;
    cursor: default;
  }
}

.flagFalse {
  background-color: $background-red;

}

.playerOne {
  background-color: $background-blue;
  cursor: default;

}

.playerTwo {
  background-color: $background-green;
  cursor: default;
}
