@use 'src/sass/theme' as *;

.container {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $large) {
    width: 80vw;
  }

  .card {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem 1rem 2rem;

    .loadingContainer {
      height: 100%;
    }

    .tableContainer {
      height: 100%;
      overflow-y: auto;
      scrollbar-color: grey $background-blue;

      .table {
        width: 100%;
        border-collapse: collapse;
        scrollbar-color: grey #b0ddff;

        .tableHeadRow {
          border-bottom: 2px solid black;

          .tableHead {
            text-align: start;
            padding-bottom: 1rem;

            &:nth-child(2) {
              text-align: center;
            }
          }
        }

        .tableData {
          text-align: start;
          padding: 0.5rem 0;

          .usernameCol {
            display: flex;
            align-items: center;
            gap: 1rem;
          }

          &:nth-child(2) {
            text-align: center;
          }
        }
      }
    }

    .cardFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .pagination {
        display: flex;
        align-items: center;
        gap: 0.45rem;
        padding-top: 1rem;
      }
    }
  }
}
