@use 'src/sass/theme' as *;

.text {
  font-weight: 500;
}

.size-small {
  font-size: 1rem;
}

.size-medium {
  font-size: 1.2rem;
}

.size-large {
  font-size: 1.4rem;
}

.error {
  color: $error;
}
